/* Work Sans from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

/* Default Style */
body {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  background-color: #ff900e;
  color: #131313;
  border: none;
  padding: 0.7rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  transition: 01s;
  -webkit-transition: 01s;
  -moz-transition: 01s;
  -ms-transition: 01s;
  -o-transition: 01s;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.btn-primary:hover {
  color: #ff900e;
  background-color: #ffffff;
}
/* Header Area Start */

.header-area {
  background-color: #fff4e7;
  padding: 3rem 20rem;
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  font-weight: 700;
  color: #131313;
  font-size: 2.75rem;
  text-transform: capitalize;
}
.nav-list {
  display: flex;
}
.nav-list li {
  list-style: none;
}
.nav-list a {
  display: block;
  color: #424242;
  font-weight: 500;
  font-weight: 600;
  font-size: 1.25rem;
  margin-left: 1.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: 01s;
  -webkit-transition: 01s;
  -moz-transition: 01s;
  -ms-transition: 01s;
  -o-transition: 01s;
}
.nav-list a:hover {
  color: #ffffff;
  background-color: #ff900e;
}

.banner-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  color: #131313;
  font-weight: 700;
  font-size: 4rem;
  text-transform: capitalize;
}
.banner-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 1rem 0rem;
}

.banner-area img {
  width: 100%;
  margin-top: 2rem;
}

/* Main Section Start */

main {
  max-width: 1440px;
  margin: 0 auto;
}

.team-container {
  display: flex;
  align-items: center;
  padding: 6.25rem 0rem;
}

.team-section {
  gap: 1.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.team-content {
  padding: 0rem 4.5rem;
}
.quick-list {
  color: #727272;
  font-weight: 500;
  font-size: 2.8rem;
}
.our-list {
  color: #131313;
  font-weight: 700;
  font-size: 2.8rem;
}
.features-content-middle {
  color: #ff900e;
  font-weight: 700;
  font-size: 2.8rem;
}

.team-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin: 1rem 0rem;
}

/* Features Section Start */
.features-area {
  display: flex;
  justify-content: space-between;
}

.features-title {
  color: #131313;
  font-size: 2.75rem;
  font-weight: 700;
  width: 30rem;
  text-transform: capitalize;
}
.features-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  width: 35rem;
  margin: 1rem 0rem;
  line-height: 1.5rem;
}

.small-title {
  color: #131313;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.small-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.features-info {
  max-width: 35rem;
  padding: 1rem 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 30px 0px #ddd;
}
.features-img img {
  max-width: 700px;
  height: 890px;
}
.features-experience {
    color: #fff;
    bottom: 11rem;
    width: 320px;
    display: grid;
    padding: 2rem;
    height: 200px;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    align-items: center;
    margin-left: -4rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background-color: #ff900e;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.features-experience .expro {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
}

/* Sponsport Style Start */

.sponsor-area {
  max-width: 1440px;
  margin: 0 auto;
}
.sponsor-title {
  color: #131313;
  font-weight: 700;
  font-size: 2.85rem;
  text-align: center;
  text-transform: capitalize;
}
.sponsor-description {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 1rem 3rem;
}
.sponsor-content {
  max-width: 50%;
  margin: auto;
}

.sponsor-img-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2rem 0rem;
  padding-bottom: 2rem;
}
.sponsor-img-group img {
  width: 120px;
  margin: auto;
}
.footer-description {
  color: #424242;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 2rem 0rem;
  background-color: #fff4e7;
  width: 70%;
  margin: auto;
}
/* Member Section Style */

.fact-content {
  max-width: 30%;
}
.fact-title {
  color: #131313;
  font-size: 2.75rem;
  font-weight: 700;
  text-transform: capitalize;
}
.fact-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 1rem;
}
.fact-group {
  display: flex;
  justify-content: space-around;
  margin: 4rem 0rem 6rem;
}
.fact-member {
  border: 1px solid #ff900e;
  padding: 1.5rem;
  text-align: center;
}
.member-count {
  color: #424242;
  font-size: 2.75rem;
  font-weight: 600;
}
.member-info {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}

/* Media Query Styles */
@media screen and (max-width: 576px) {
  .header-area,
  .team-container,
  .sponsor-section {
    padding: 1.25rem;
  }
  .nav-group,
  .team-container,
  .fact-group,
  .features-area {
    flex-direction: column;
  }
  .team-content {
    padding: 0rem;
  }
  .team-section,
  .sponsor-img-group {
    grid-template-columns: 1fr;
  }
  .sponsor-img-group img {
    margin-bottom: 1rem;
  }
  .sponsor-content {
    max-width: 100%;
    margin: 0px;
  }
  .sponsor-description {
    margin: 0rem;
  }
  .nav-list a {
    margin-left: 0rem;
  }
  .fact-content {
    max-width: 100%;
    padding: 1rem;
  }
   h1.features-title, .features-description{
    padding: 1.50rem;
    max-width: 100%;
  }

   .features-img img{
    max-width: 100%;
    height: auto;
  } 
  .features-experience{
    position: static;
    margin-top: 1rem;
    margin-left: 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-group,
  .team-container,
  .fact-group,
  .features-area {
    flex-direction: column;
  }
  .header-area,
  .team-container {
    padding: 4.5rem;
  }
  .sponsor-img-group {
    grid-template-columns: repeat(3, 1fr);
  }
  .sponsor-img-group img {
    margin-bottom: 1rem;
  }
  .fact-content {
    max-width: 100%;
    padding: 1rem;
  }
  h1.features-title, .features-description{
    padding: 1.50rem;
  }
  /* .features-img img{
    max-width: 100%;
  } */
}
